<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<form action="/???">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="???" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
